/*FONTS & COLORS*/
body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: rgb(100,100,100);
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #DD5555;
  line-height: 40px;
  font-size: 22px;
}

h2 {
  color: rgb(100,100,100);
  line-height: 20px;
  font-size: 20px;
}

h3 {
  color: rgb(100,100,100);
  line-height: 20px;
  font-size: 18px;
}

h4 {
  color: rgb(100,100,100);
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 0;
}

p {
  line-height: 1.5em;
  font-size: 16px;
  font-weight: lighter;
}

a {
  text-decoration: none;
}


.blue-link {
  color: #0E7AC4;
}

a:hover {
  color: #0e1fc4;
  font-weight: bolder;
}

/*BOXES*/
.container {
  width: 850px;
  margin: 0 auto;
}

img {
  width: 60px;
}

.card {
  background-color: white;
  padding: 30px;
  margin: 30px;
  box-shadow: 2px 2px 2px #CAC5C5;
  border-radius: 3px;
}

/*should i put text center for all h3s????*/
.text-center {
  text-align: center;
}

.img-rounded {
  border-radius: 50%;
}

.img-big-size {
  width: 180px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

ul {
  padding:0;
}

i {
  padding: 10px
}

tr > td {
  padding-bottom: 1em;
}

.center-element {
  margin:0 auto;
}

.img-size-average {
  width: 110px;
  border: 1px solid #EBEBEB;
}

.text-padding-left {
 padding-left: 25px;
}

.table-padding-top {
  padding-top: 50px;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
}

.text-white a {
  color: rgb(200,200,200);
}

.icon-wide {
  font-size: 24px
}

#sidebar i:hover{
  color: white;
}

.right-container{
  float: right;
  width: 16%;
  margin-left: 0;
  height: 352px;
}

.left-container{
  float: left;
  width: 60%;
  margin-right: 0;
}

.clear {
  clear: both;
}

.padding-bottom {
  padding-bottom: 30px;
}

.text-justify {
  text-align: justify;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  width: 641px;
  height: 100px;
  border: 0;
  border-bottom: 1px solid #A09E9E;
  border-top: 1px dotted #A09E9E;
  padding: 10px 20px 20px;
}

input {
  font-family: 'Open Sans', sans-serif;
  border: 0;
  padding-left: 10px;
  border-bottom: 1px solid #A09E9E;
}

input:hover {
  border: 0;
  padding-left: 10px;
  border-bottom: 1px solid #4C4949;
}

textarea:hover {
  border-bottom: 1px solid #4C4949;
  border-top: 1px dotted #4C4949;
}

textarea:focus {
  outline: none !important;
  border: 0;
  border-bottom: 1px solid #4C4949;
  border-top: 1px dotted #4C4949;
  padding: 10px 20px 20px;
  background-color: rgba(251, 251, 251, 0.33);
}

input:focus {
  outline: none !important;
  padding-left: 10px;
  border-bottom: 1px solid #4C4949;
}

.small-text {
  font-size: 12px
}

.small-padding-bottom {
  padding-bottom: 10px !important;
}

.small-padding-top {
  padding-top: 10px;
}

.btn-red {
  background-color: #DD5555;
  border: none;
  border-radius: 3px;
  padding: 4px;
  color: white;
  width: 70px;
}

.btn-red:hover {
  background-color: #D45050;
  color: white;
  cursor: pointer;
}
